html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

img {
  width: 100%;
}

body {
  display: grid;
  margin: 0;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "banner banner"
    "col1" "col2";
  gap: 1rem;
}

nav {
  grid-area: banner;
  grid-column: 2;
}

.logo {
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  z-index: 1;
}

main {
  display: contents;
}

li {
  display: inline;
}

a {
  color: #fff;
  font-size: 2rem;
}

.pano {
  grid-area: banner;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
